$breakpoints: (
    'mobile': (min-width: 375px),
    'tablet': (min-width: 768px),
    'desktop': (min-width: 1024px),
) !global;

// Colors

$color__dark: #000000;
$color__light: #FFFFFF;

// $color__primary: #000;
// $color__secondary: #FFF;

$font__header: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font__body: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
