.site-header {
    height: 2.5rem;
    background-color: $color__dark;
    color: $color__light;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2px 2px 2px;
    position: relative;
    z-index: 2;
    position: sticky;
    top: 0;

    .logo {
        display: block;
        height: 100%;

        svg {
            height: 100%;
            fill: $color__light;
        }
    }

    @include breakpoint('desktop') {
        height: 3rem;
        width: 100%;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            svg {
                height: 100%;
            }

        }

    }

}
