html, body {
    font-size: 16px;
}

body {
    &.no-scroll {
        overflow: hidden;
    }
}

.container {
    padding: 0 1rem;


    &.narrow {
    	padding: 0 3rem; 
    }


    @include breakpoint('desktop') {
    	padding: 0;
    	max-width: 960px;
    	margin: 0 auto;

    	&.narrow {
    		padding: 0;
    	}
    }

}

img {
    max-width: 100%;
}
