
<div class="contact">
	<h1 class="title">Contact<h1/>
		<img class="featured" src="http://via.placeholder.com/200x300">


	<h2 class="contact-title">Contact Henrik Vibskov Boutique</h2>

			<div class="contact-option">
				<p class="headline">E-Shop enquiries:</p>
				<a class="text" href="mailto:webassistant@henrikvibskov.com">webassistant@henrikvibskov.com</a>
			</div>

			<div class="contact-option">
				<p class="headline">Returns:</p>
				<a class="text" href="mailto:return@henrikvibskov.com">return@henrikvibskov.com</a>
				<br>
				<a class="text" href="tel:+4522146100">phone DK: +45 33146100</a>
			</div>

			<div class="contact-option">
				<p class="headline">Buying enquiries:</p>
				<a class="text" href="mailto:buyer@henrikvibskov.com">buyer@henrikvibskov.com</a>
			</div>

			<div class="contact-option">
				<p class="headline">Press enquiries:</p>
				<a class="text" href="mailto:natasha@agencyv.com">natasha@agencyv.com</a>
			</div>

			<div class="contact-option">
				<p class="headline">General enquiries:</p>
				<a class="text" href="mailto:shop@henrikvibskov.com">shop@henrikvibskov.com</a>
			</div>
</div>

<style type="text/css">
	
	.contact {
		font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	.title {
		font-style: italic;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 36px;
		text-align: right;
		padding-top: 3px;
		padding-right: 8px;
		margin-bottom: 75px;
	}
	.featured{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 45px;
	}
	.contact-title{
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		padding-bottom: 10px;
	}
	.contact-option{
		margin-top: 25px;
		margin-bottom: 25px; 
	}
	.headline{
		font-size: 24px;
		font-style: italic;
		font-weight: 300;
		text-transform: uppercase;
		text-align: left;
		margin-left: 50px;
	}

	.text{
		text-align: left;
		margin-left: 50px;
	}

	@media (min-width: 1024px) {
		.contact {
		background-color: black;
		}
		.title{
			font-size: 72px;
			background-color: white;
		}
		.featured{
			position: absolute;
   			margin-right: 0;
			margin-left: 55%;
		    margin-bottom: 0;
		    text-decoration-color: white;
		}
		.contact-title{
			position: relative;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 30px;
			text-align: left;
			margin-left: 60px;
			padding-bottom: 50px;
		    color: white;
		}
		.contact-option{
			margin-top: 25px;
			margin-bottom: 25px;
		}
		.headline{
			margin-left: 60px;
			font-size: 36px;
		    color: white;
		}
		.text{
			margin-left: 60px;
			font-size: 24px;
		    color: white;
		}
	}
</style>