<div class="page">
    <h1 >{{ page.title }}</h1>
    <div class="container narrow main-content">
        <img class="featured-image" src="{{ 'jobs.jpg' | file_img_url: '600x' }}">
        <div>
            {{ page.content }}
        </div>
    </div>
</div> 
