
<div class="contact">
	<h1 class="title">Terms<h1/>

	<h2 class="terms-title">Terms of use</h2>

			<div class="contact-option">
					<ul class="list">
						<li>Firma navn: HENRIK VIBSKOV BOUTIQUE</li>
						<li>Juridisk navn: MMTHMSIIH APS</li>
						<li>Firma type: APS</li>
						<li>CVR no.: 29840741</li>
						<li>Adresse: Krystalgade 6, 1172 København K</li>
						<li>Tel: +45 33146100</li>
						<li>Officiel E-mail adresse: shop@henrikvibskov.com</li>
						<li>Officiel web-side: www.henrikvibskovboutique.com</li>
					</ul>
			</div>

			<div class="contact-option">
				<p class="text">
					VILKÅR OG BETINGELSER FOR BRUG AF HJEMMESIDEN - DANSK 
				</p>
				<p class="text">
					Hjemmesiden ejes og drives af HENRIK VIBSKOV BOUTIQUE, MMTHMSIIH APS, CVR nummer 29840741 i Danmark.
				</p>
				<p class="text">
					Alle navne, mærker, varemærker og logoer på hjemmesiden ejes af HENRIK VIBSKOV BOUTIQUE, MMTHMSIIH APS  i Danmark eller tilknyttede partnere eller selskaber.  
				</p>
				<p class="text">
					Alle navne, mærker, varemærker og logoer er ophavsretsbeskyttede og må kun benyttes med tilladelse fra HENRIK VIBSKOV BOUTIQUE, MMTHMSIIH APS  
				</p>
				<p class="text">
					Indholdet på hjemmesiden såsom tekst, grafik, ikoner, billeder, videoer, lydfiler og software ejes af HENRIK VIBSKOV BOUTIQUE, MMTHMSIIH APS eller deres tilknyttede partnere eller selskaber.
				</p>
			</div>
</div>

<style type="text/css">
	
	.contact {
		font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	.title {
		font-style: italic;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 36px;
		text-align: right;
		padding-top: 3px;
		padding-right: 8px;
		margin-bottom: 75px;
	}
	.featured{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 45px;
	}
	.terms-title{
		text-transform: uppercase;
		font-weight: bold;
		text-align: left;
		padding-bottom: 10px;
		margin-left: 50px;
	}
	.contact-option{
		margin-top: 25px;
		margin-bottom: 25px; 
	}
	.headline{
		font-size: 24px;
		font-style: italic;
		font-weight: 300;
		text-transform: uppercase;
		text-align: left;
		margin-left: 50px;
	}
	.list{
		text-align: left;
		margin-left: 50px;
		margin-right: 50px;
		list-style-type: initial;
		line-height: 1.2;
	}
	.text{
		text-align: left;
		padding-top: 20px;
		margin-left: 50px;
		margin-right: 50px;
	}

	@media (min-width: 1024px) {
		.contact {
		}
		.title{
			font-size: 72px;
			background-color: white;
		}
		.featured{
			position: absolute;
   			margin-right: 0;
			margin-left: 55%;
		    margin-bottom: 0;
		    text-decoration-color: white;
		}
		.terms-title{
			position: relative;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 30px;
			text-align: left;
			margin-left: 60px;
			padding-bottom: 30px;
		}
		.contact-option{
			margin-top: 25px;
			margin-bottom: 25px;
		}
		.headline{
			margin-left: 60px;
			font-size: 36px;
		}
		.list{
			text-align: left;
			margin-left: 80px;
			margin-right: 50px;
			list-style-type: initial;
			line-height: 1.2;
		}
		.text{
			margin-left: 60px;
			font-size: 18px;
		}
	}
</style>