
<div class="about">
	<h1 class="title">About<h1/>

			<div class="about-intro-container">
				<div class="about-intro-container-1">
					<img class="featured" src="http://via.placeholder.com/500x600">
				</div>
				<div class="about-intro-container-2">
					<p class="intro-text">
						The Henrik Vibskov Boutique has been open since 2006 in Copenhagen and New York April 2011. Both stores reflect the universe of Henrik Vibskov – they are the only two places in the world where you can preview the unedited collection. The Henrik Vibskov Boutique represents the iriscendent universes of Vibskov in content and form. The stores fuse Vibskov's collections and works with upcoming and renown designers and artists, elaborated to broaden our spectrum of fascination and inspiration.
					</p>
					<p class="intro-text">
						HENRIKVIBSKOVBOUTIQUE.COM is a satellite of the HENRIK VIBSKOV BOUTIQUE in Copenhagen and New York. Its aim is to reach out globally to all corners of the world with exciting products, special editions and old classics from a range of local and international designers, artists and creators.
					</p>
				</div>
			</div>
			<h2 class="about-title">Stores</h2>

			<div class="store-container">
				<div class="store-option-cph">
					<p class="headline">Henrik Vibskov Boutique Copenhagen:</p>
					<p class="text">
						Krystalgade 6
						<br>
						Copenhagen K 1172
						<br>
						Denmark
					</p>
					<p class="text">
						+45 33 14 61 00
						<br>
						shop@henrikvibskov.com
					</p>
					<p class="text">
						OPENING HOURS:
						<br>
						Monday-Thursday 11.00am-6.00pm
						<br>
						Friday 11.00am-7.00pm
						<br>
						Saturday 11.00am-5.00pm
					</p>
				</div>

				<div class="store-option-nyc">
					<p class="headline">Henrik Vibskov Boutique New York:</p>
					<p class="text">
						456 Broome Street
						<br>
						10013 New York
						<br>
						New York - USA
					</p>
					<p class="text">
						+00 212 219 3950
						<br>
						nyc@henrikvibskov.com
					</p>
					<p class="text">
						OPENING HOURS:
						<br>
						Monday-Saturday 11am - 7pm
						<br>
						Sunday 12pm - 6pm
					</p>
				</div>
			</div>
			<div class="store-container-2">
				<p class="headline">E-Shop:</p>
				<br>
				<a class="text" href="http://henrikvibskovboutique.com">henrikvibskovboutique.com</a>
			</div>
</div>

<style type="text/css">
	
	.about {
		font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
/*		background-color: black;
*/	}
	.title {
		font-style: italic;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 36px;
		text-align: right;
		padding-top: 3px;
		padding-right: 8px;
		margin-bottom: 75px;
	}
	.featured{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 45px;
	}
	.about-title{
		text-transform: uppercase;
		font-weight: bold;
		text-align: left;
		padding-bottom: 10px;
		margin-left: 50px;
	}
	.headline{
		font-size: 21px;
		font-style: italic;
		font-weight: 300;
		text-transform: uppercase;
		text-align: left;
		margin-left: 50px;
		margin-right: 50px;
		padding-top: 30px;
		padding-bottom: 10px;
	}
	.intro-text{
		text-align: left;
		padding-top: 20px;
		padding-bottom: 30px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.text{
		text-align: left;
		padding-top: 20px;
		margin-left: 50px;
		margin-right: 50px;
	}

	@media (min-width: 1024px) {
		.about {
			background-color: black;
		}
		.title{
			font-size: 72px;
			background-color: white;
		}
		.featured{
			position: absolute;
   			margin-right: 0;
			margin-left: 55%;
		    margin-bottom: 0;
		    text-decoration-color: white;
		    max-height: 600px;
		}
		.about-title{
/*			max-width: 60%;
*/			position: relative;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 30px;
			text-align: left;
			color: white;
			padding-top: 35px;
			padding-bottom: 35px;
			margin-left: 80px;
		}
		.store-container{
			display: flex;
			margin-left: 80px;
		}
		.store-container-2{
			margin-left: 80px;
		}
		.headline{
			max-width: 70%;
			font-size: 36px;
		    color: white;
		    padding-top: 20px;
		    padding-bottom: 20px;
		    margin-left: 0;
		}
		.about-intro-container-2{
			height: 600px;
			max-height: 600px;
		}
		.intro-text{
			max-width: 45%;
			margin-left: 80px;
			font-size: 24px;
		    color: white;
		   	padding-bottom: 30px;
		}
		.text{
			line-height: 1.2;
			font-size: 24px;
		    color: white;
		    padding-top: 20px;
		   	padding-bottom: 20px;
		   	margin-left: 0;
		}
	}
</style>