<div class="about-henrikvibskov">
	<h1 class="title">Henrik Vibskov<h1/>

			<div class="about-intro-container">
				<div class="about-intro-container-1">
					<img class="featured" src="http://via.placeholder.com/220x300">
				</div>

				<h2 class="about-henrik-title">Henrik Vibskov</h2>
				<div class="about-intro-container-2">
					<p class="text">
						The name Henrik Vibskov is most commonly associated not only with a fashion label, but a multitude of twisted yet tantalising universes created in relation to each collection.
					</p>
					<p class="text">
						“The Great Chain Of Sleepers”, The Five O´clock Leg Alignment” and “ The Kitchen Of The Non Existent” are just a few titles of shows Henrik Vibskov has produced lately, each title referring to a different but equally mesmerising world and set of logic. As a fashion designer Henrik Vibskov has produced ower 30 mens (and later also women´s) collections since he graduated from Central St. Martins in 2001. Since January 2003 he has been a member of the Chambre Syndicale de la Mode Maculine and is currently the only Scandinavian designer on the official show schedule of the Paris Mens Fashion Week.
					</p>
					<p class="text">
						Since the beginning of his career Henrik has been invited to and participated in festivals, contest and talks such as Artist Talk at London Design Week in 2017, Exhibition design and curating of Mindcraft17, Danish Pavilion at Salone del Mobile Milan in 2017, Art Basel Miami, Artist Talk and shop opening at Faena District Miami Beach in 2016, One Week Workshop at Domaine Boisbuchet, France 2016, Art Talk at Indaba Cape Town, South Africa 2014.
					</p>
					<p class="text">
						Throughout his career Henrik´s designs have won him such as The Royal Thorval Bindesbøl Medal, Copenhagen 2016, The Cologne Thrumber Award, Cologne Germany 2017, The Jury Prize at the Danish Fashion Awards in 2012, The Söderberg prize in 2011, the highest value design prize in the world, an award from the Danish Arts Foundation in 2009, Brand of the year DANSK Fashion Awards 2008, the Danish Design Council Award 2007, New Name of the year 2003, The Becks Student Future Prize 2000.
					</p>
					<p class="text">
						Between designing new collections biannually and creating the universes surrounding them, Henrik keeps himself occupied as drummer with his own project Mountain Yorokobu, signed to Fake Diamond Records, also playing with Hess is More, Michael Simpson and Trentemøller, which he was touring with for 6 years.
					</p>
					<p class="text">
						Henrik Vibskov has exhibitited at 21st museum of contemporary art kanazawa, Japan, The Museum of Art and Design in New York, Art Cologne represented by Gallery Ruttskowski68, MoMA PS1 in New York, Palais de Tokyo in Paris, ICA in London, Zeeuws Museum in Holland, Kiyomizu-Dera Temple in Kyoto, Japan, Wilhelm Wagendfeld Haus in Bremen, NAI Nederlands Architectur Institut in Rotterdam, Holland, The Textile Museum, Washington, USA, just to name a few. 
						He has also produced several large-scale solo exhibitions at museums and galleries, including the TEMPO at Stockholm Stadsteater, Sweden, Exhibition Daelim Museum, Seul, South Korea, his “Neck Plus Ultra” exhibition which was shown at Galeries Lafayette in Paris and Gammel Strand in Copenhagen, a big retrospective of his work at Design museum Helsinki in Finland, and most recently the Solo Exhibition in Andersen´s Contemporary Gallery, Copenhagen, Solo exhibition in Maisson du Danemark, Paris, Solo Exhibition in Gallery Ruttskowski68, Cologne, Germany.
					</p>
					<p class="text">
						Together with visual artist Andreas Emenius he created an on-going art project called `The Circular Series´, which they begun to work on in 2009. Like their earlier collaborations `The Fringe Projects`, in this project the circle is used as a clarifier, or visual glue, linking all the projects to the same universe. Henrik has also designed costumes for numerous operas and performances, including collaborations with Hotel Pro Forma, the Oslo Opera house and Brussels Opera House.
					</p>
					<p class="text">
						Henrik Vibskov is currently Professor at DSKD and has frequently given lectures and been a jury member at institutions such as Central Saint Martins in London, the IED in Madrid and the Antwerp Royal Acadamy of Fine Art amongst others.
					</p>
					<p class="text">
						Henrik has published four books, including a 2012 monograph of his work to date (published by Gestalten).
					</p>
				</div>
			</div>
</div>

<style type="text/css">
	
	.about-henrikvibskov {
		font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	.title {
		font-style: italic;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 36px;
		text-align: right;
		padding-top: 3px;
		padding-right: 8px;
		margin-bottom: 75px;
	}
	.featured{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 45px;
	}
	.about-henrik-title{
		text-transform: uppercase;
		font-weight: bold;
		text-align: left;
		padding-bottom: 10px;
		margin-left: 50px;
	}
	.headline{
		font-size: 21px;
		font-style: italic;
		font-weight: 300;
		text-transform: uppercase;
		text-align: left;
		margin-left: 50px;
		margin-right: 50px;
		padding-top: 30px;
		padding-bottom: 10px;
	}
	.intro-text{
		text-align: left;
		padding-top: 20px;
		padding-bottom: 30px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.text{
		text-align: left;
		padding-top: 20px;
		margin-left: 50px;
		margin-right: 50px;
	}

	@media (min-width: 1024px) {
		.about {
			background-color: black;
		}
		.title{
			font-size: 72px;
			background-color: white;
		}
		.featured{
			position: absolute;
   			margin-right: 0;
			margin-left: 55%;
		    margin-bottom: 0;
		    max-height: 600px;
		}
		.about-henrik-title{
/*			max-width: 60%;
*/			position: relative;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 30px;
			text-align: left;
			padding-bottom: 35px;
			margin-left: 80px;
		}
		.store-container{
			display: flex;
			margin-left: 80px;
		}
		.store-container-2{
			margin-left: 80px;
		}
		.headline{
			max-width: 70%;
			font-size: 36px;
		    padding-top: 20px;
		    padding-bottom: 20px;
		    margin-left: 0;
		}
		.intro-text{
			max-width: 45%;
			max-height: 600px;
			margin-left: 80px;
			font-size: 24px;
		   	padding-bottom: 30px;
			height: 600px;
		}
		.text{
			max-width: 45%;
			max-height: 600px;
			margin-left: 80px;
			font-size: 18px;
		   	/*padding-bottom: 30px;*/
/*			height: 600px;
*/			/*line-height: 1.2;
			font-size: 24px;
		    padding-top: 20px;
		   	padding-bottom: 20px;
		   	margin-left: 0;*/
		}
	}
</style>